<section class="section skills">
    <div class="container">
        <div class="row responsive">
            <div class="col-md-12">
                <div class="skills_section text-center">
                    <div class="skill-head">
                        <h1 class="font-60">
                            my progress
                        </h1>
                        <p>The main area of expertise is front end development (client side of the web).
                        </p>
                    </div>

                    <div class="skills-area">
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="92"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5">92%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                HTML5
                            </text> </g></svg></div>
                        </div>
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="90"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="90,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5">90%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                CSS3
                            </text> </g></svg></div>
                        </div>
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="85"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="85,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5">85%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                Bootstrap
                            </text> </g></svg></div>
                        </div>
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="82"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="82,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5">82%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                Js/Jquery
                            </text> </g></svg></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>